<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @import url("//unpkg.com/element-ui@2.15.10/lib/theme-chalk/index.css");
        .el-input{
            width: 260px;
            height: 50px;
        }
    </style>
    <script src="//unpkg.com/vue@2/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.15.10/lib/index.js"></script>
</head>

<body style="text-align: center; background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);">
<br>
<div><h1>前端学习平台</h1></div>
<div id="app"
     style="text-align: center;
background: #FFFAFA;
width: 290px;
height: 480px;
position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;"
>
    <div v-if="seen1">
        <h3>登录</h3>
        <br>
        <br>
        <br>
    <el-input v-model="input1" placeholder="请输入账号" ></el-input>
    <br>
    <el-input v-model="input2" placeholder="请输入密码" ></el-input>
    <br>
        <template>
            <el-radio v-model="radio" label="1">学生</el-radio>
            <el-radio v-model="radio" label="2">教师</el-radio>
        </template>
        <br>
        <br>
    <el-button type="primary" style="width: 120px;height: 40px;">登录</el-button>
    <el-button type="success" style="width: 120px;height: 40px;">忘记密码</el-button>
    <br>
    <br>
    <el-button v-on:click="seen1=!seen1;seen2=!seen2"type="warning" plain style="width: 260px;height: 40px;">去注册</el-button>
    </div>
    <div v-if="seen2">
        <h3>注册</h3>
        <br>
        <br>
        <template>
            <el-radio v-model="radio" label="1">学生</el-radio>
            <el-radio v-model="radio" label="2">教师</el-radio>
        </template>
        <br>
        <br>
        <el-tooltip class="item" effect="dark" content="输入8位数字" placement="right">
            <el-input v-model="input3" placeholder="请输入学号/工号" ></el-input></el-tooltip>
        <br>
        <el-tooltip class="item" effect="dark" content="输入真实姓名" placement="right">
        <el-input v-model="input4" placeholder="请输入姓名" ></el-input></el-tooltip>
        <br>
            <el-tooltip class="item" effect="dark" content="输入8位以上数字" placement="right">
        <el-input v-model="input5" placeholder="请输入密码" ></el-input></el-tooltip>
        <br>
                <el-tooltip class="item" effect="dark" content="输入8位以上数字" placement="right">
        <el-input v-model="input6" placeholder="请再次输入密码" ></el-input></el-tooltip>
        <br>
        <el-button v-on:click="sign()" type="primary" style="width: 120px;height: 40px;">注册</el-button>
        <br>
        <br>
        <el-button v-on:click="seen1=!seen1;seen2=!seen2"type="warning" plain style="width: 260px;height: 40px;">去登陆</el-button>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            radio: '1',
            seen1: true,
            seen2: false,
            input1: '',
            input2: '',
            input3: '',
            input4: '',
            input5: '',
            input6: '',
            async sign(){
                var reg = /^[0-9]{8}$/;
                var reg2 = /^[0-9]{8,32}$/;

                if(!reg2.test(this.input5)){
                    this.input5 = '';
                    await this.$notify({
                        title: '警告',
                        message: '请输入8以上的数字作为密码',
                        type: 'warning'
                    });
                }

                if(!reg.test(this.input3)){
                    this.input3 = '';
                    await this.$notify({
                        title: '警告',
                        message: '请输入8位数字组成的学号或者工号',
                        type: 'warning'
                    });
                }
                if(this.input5!=this.input6){
                    await this.$notify.error({
                        title: '错误',
                        message: '两次密码不一致'
                    });
                }
            },
        }
        }
    )
</script>
</body>
</html>